body {
    font-family: Arial, sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.add-account {
    background-color: #fff !important;
    color: black;
}


.container {
    background: rgba(0, 0, 0, 0.85);
    padding: 20px 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.background-image {
    background-image: url(../img/background.jpg);
    background-size: cover; /* Thay contain bằng cover */
    background-position: center; /* Đặt hình ảnh căn giữa */
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%; /* Đảm bảo background lấp đầy chiều rộng */
}


.container h2 {
    margin-bottom: 20px;
    font-size: 26px;
    color: #1414a7;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

form button {
    background: #1414a7;
    color: white;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #2575fc;
}

a {
    color: #1414a7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
