{% extends "layout/base.html" %}
{% block main_content %}
<h2 class="text-center text-uppercase">Danh Sách Chuyến Bay</h2>
{% if bookings %}
<table class="table mt-3 mx-auto" style="width: 80%; text-align: center;">
    <thead>
        <tr>
            <th>ID Đặt Vé</th>
            <th>Tuyến Bay</th>
            <th>Loại Vé</th>
            <th>Số Lượng vé</th>
            <th>Số ghế</th>
            <th>Giá</th>
            <th>Ngày Đặt</th>
        </tr>
    </thead>
    <tbody>
        {% for booking in bookings %}
        <tr>
            <td>{{ booking.booking_id }}</td>
            <td>{{ booking.flight_route }}</td>
            <td>{{ booking.ticket_class }}</td>
            <td>{{ booking.quantity }}</td>
            <td>{{ booking.seat_numbers }}</td>
            <td>{{ "{:,.0f}".format(booking.price).replace(",", ".") }} VNĐ</td>
            <td>{{ (booking.booking_date).strftime('%H:%M - %d/%m/%Y') }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>Hiện tại không có thông tin đặt vé nào.</p>
{% endif %}
{% endblock %}