{% extends "layout/base.html" %}
{% block main_content %}
<h2 class="text-center text-uppercase">Danh Sách Sân Bay Hiện Có</h2>
<!-- Ô nhập tìm kiếm -->
<form method="get" action="{{ url_for('san_bay_routes.danh_sach_san_bay') }}">
    <div class="input-group mb-3" style="width: 80%; margin-left: 10%;">
        <input type="text" class="form-control" name="search"
            placeholder="Tìm kiếm theo mã sân bay, tên sân bay, vị trí, quốc gia" value="{{ search_query }}">
        <button class="btn btn-primary" type="submit">Tìm kiếm</button>
    </div>
</form>
<a href="{{ url_for('san_bay_routes.them_san_bay') }}" class="btn btn-success my-3" style="margin-left: 10%;">Thêm
    mới</a>
<div class="table-wrapper">
    <table class="table mt-3 mx-auto" style="width: 80%; text-align: center;">
        <thead>
            <tr>
                <th scope="col">Mã Sân Bay</th>
                <th scope="col">Tên Sân Bay</th>
                <th scope="col">Vị Trí</th>
                <th scope="col">Quốc Gia</th>
                <th scope="col">Hành Động</th>
            </tr>
        </thead>
        <tbody>
            {% for airport in airport_list %}
            <tr>
                <td class="align-middle">{{ airport.abbreviate_name }}</td>
                <td class="align-middle">{{ airport.name }}</td>
                <td class="align-middle">{{ airport.location }} </td>
                <td class="align-middle">{{ airport.nation }} </td>
                <td class="align-middle">
                    <a href="{{ url_for('san_bay_routes.sua_san_bay', airport_id=airport.abbreviate_name) }}"
                        class="btn btn-warning">Sửa</a>
                    <a href="{{ url_for('san_bay_routes.xoa_san_bay', airport_id=airport.abbreviate_name) }}"
                        class="btn btn-danger">Xóa</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block js %}
{% endblock %}