{% extends "layout/base.html" %}
{% block main_content %}
<h2 class="text-center text-uppercase">Sửa Sân Bay</h2>
<form method="post" action="{{ url_for('san_bay_routes.sua_san_bay', airport_id=airport.abbreviate_name) }}"
    class="grid wide">

    <div class="form-group">
        <label for="abbreviate_name">Mã Sân Bay</label>
        <input value="{{airport.abbreviate_name}}" type="text" class="form-control" id="abbreviate_name"
            name="abbreviate_name" required>
    </div>

    <div class="form-group">
        <label for="flight_time">Tên Sân Bay:</label>
        <input value="{{airport.name}}" type="name" class="form-control" id="name" name="name" required>
    </div>

    <div class="form-group">
        <label for="location">Địa Điểm</label>
        <input value="{{airport.location}}" type="text" class="form-control" id="location" name="location" required>
    </div>

    <div class="form-group">
        <label for="nation">Quốc Gia</label>
        <input value="{{airport.nation}}" type="text" class="form-control" id="nation" name="nation" required>
    </div>

    <button type="submit" class="btn btn-primary">Xác nhận</button>
</form>
{% endblock %}
{% block js %}
{% endblock %}