{% extends "layout/base.html" %}
{% block main_content %}
<h2 class="text-center text-uppercase">Thêm Sân Bay</h2>
<form method="post" action="{{ url_for('san_bay_routes.them_san_bay', flight_id=flight_id) }}" class="grid wide">

    <div class="form-group">
        <label for="abbreviate_name">Mã Sân Bay</label>
        <input type="text" class="form-control" id="abbreviate_name" name="abbreviate_name" required>
    </div>

    <div class="form-group">
        <label for="flight_time">Tên Sân Bay:</label>
        <input type="name" class="form-control" id="name_ap" name="name_ap" required>
    </div>

    <div class="form-group">
        <label for="location">Địa Điểm</label>
        <input type="text" class="form-control" id="location" name="location" required>
    </div>

    <div class="form-group">
        <label for="nation">Quốc Gia</label>
        <input type="text" class="form-control" id="nation" name="nation" required>
    </div>

    <!-- Nút submit -->
    <button type="submit" class="btn btn-primary">Thêm</button>
</form>
{% endblock %}
{% block js %}
{% endblock %}