{% extends "layout/base.html" %}
{% block menu %}
    <li class=""><a class="nav-mobile-link"
            href="{{ url_for('authentication_routes.trang_admin') }}">Trang chủ</a></li>
    <li class=""><a class="nav-mobile-link"
            href="{{ url_for('chuyen_bay_routes.danh_sach_chuyen_bay_admin') }}">Quản lý chuyến bay</a></li>
    <li class=""><a class="nav-mobile-link"
            href="{{ url_for('san_bay_routes.danh_sach_san_bay') }}">Quản lý sân bay</a></li>
    <li class=""><a class="nav-mobile-link"
            href="{{ url_for('quy_dinh_routes.thay_doi_quy_dinh') }}">Quy định</a></li>
    <li class=""><a class="nav-mobile-link"
            href="{{ url_for('quy_dinh_routes.doanh_thu_theo_thang') }}">Báo cáo</a></li>
    <li class=""><a class="nav-mobile-link" href="{{ url_for('authentication_routes.index') }}">Đăng xuất</a></li>
{% endblock %}
{% block main_content %}
<h2 style="text-align: center;">Thêm Chuyến Bay</h2>
    <form method="post" class="grid wide">
        <div class="form-group">
            <label for="flight_id">Mã Chuyến Bay:</label>
            <input type="text" class="form-control" id="flight_id" name="flight_id" required>
        </div>

        <!-- Thêm đoạn mã sau vào form để hiển thị dropdown cho sân bay đi và sân bay đến -->
        <div class="form-group">
            <label for="airport_departure">Sân Bay Đi:</label>
            <select class="form-control" id="airport_departure" name="airport_departure" required>
                {% for airport in airport_list %}
                <option value="{{ airport.abbreviate_name }}">{{ airport.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="airport_arrival">Sân Bay Đến:</label>
            <select class="form-control" id="airport_arrival" name="airport_arrival" required>
                {% for airport in airport_list %}
                <option value="{{ airport.abbreviate_name }}">{{ airport.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="airport_departure">Điểm Xuất Phát:</label>
            <input type="text" class="form-control" id="start_location" name="start_location">
        </div>
        <div class="form-group">
            <label for="airport_arrival">Điểm Đến:</label>
            <input type="text" class="form-control" id="destination" name="destination">
        </div>
        <button type="submit" class="btn btn-primary">Thêm Chuyến Bay</button>
    </form>
{% endblock %}
{% block js %}
{% endblock %}