{% extends "layout/base.html" %}
{% block menu %}    
    <li class=""><a class="nav-link" href="{{ url_for('authentication_routes.trang_nhan_vien') }}">Trang chủ</a></li>
    <li class=""><a class="nav-link" href="{{ url_for('ban_ve_routes.danh_sach_ban_ve') }}">Bán vé</a></li>
    <li class=""> <a class="nav-link" href="{{ url_for('chuyen_bay_routes.danh_sach_chuyen_bay') }}">Quản Lý Chuyến Bay</a></li>
    <li class=""><a class="nav-mobile-link" href="{{ url_for('authentication_routes.index') }}">Đăng xuất</a></li>
{% endblock %}
{% block main_content %}
{% endblock %}
{% block js %}
{% endblock %}